.temp
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.yarn/*
!.yarn/releases
.next
.expo
.n8n
.ollama
.unlighthouse
node_modules
coverage
build
dist
android
ios
.env
.env.local
.env.production
apps/api/k8s/overlays/*/configmap.yaml
apps/api/k8s/overlays/*/secret.yaml
