*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Inter, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body.light {
  background-color: #ffffff;
}

body.dark {
  background-color: #000000;
}
